<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrique Silva - projects</title>
    <link rel="stylesheet" href="../Public/styles/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div>
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"> <!-- Header start-->
          <a href="../index.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Portfolio</span>
          </a>    
          <ul class="nav  nav-pills">
            <li class="nav-item"><a href="../index.html" class="nav-link " aria-current="page">Home</a></li>
            <li class="nav-item"><a href="./about.html" class="nav-link  ">About</a></li>
            <li class="nav-item"><a href="./skills.html" class="nav-link">Skills</a></li>
            <li class="nav-item"><a href="./projects.html" class="nav-link active">Projects</a></li>
            <li class="nav-item"><a href="./Contact.html" class="nav-link">Contact</a></li>
          </ul>
        </header> <!-- here ends header -->

        <main>
            <section class="py-5 text-center container"> <!-- Album/Projects starts-->
              <div class="row py-lg-2">
                <div class=" col-md-8 mx-auto">
                  <h1 class="fw-light">Projects</h1>
                  <p class="lead text-body-secondary">Here are some of the projects i have been working with my programing courses.</br>
                Hope you can have some fun time in any of them! </p>
                </div>
              </div>
            </section>
            <div class="album py-5 bg-body-tertiary">
              <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  <div class="col">
                    <div class="card shadow-sm">                        
                        <a href="./indexDice.html"><img class="card-img-top" width="100%" height="275" src="../Public/images/SimonSays.png" alt="simon says game"></a> <!--project picture-->
                      <div class="card-body">
                        <p class="card-text">This a very traditional "Simon Says" game that helps to undestand  some basics of JavaScript.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <a href="../views/drumkit.html"><img class="card-img-top" width="100%" height="275" src="../Public/images/drumkitproject.png" alt="simon says game"></a> <!--project picture-->
                      <div class="card-body">
                        <p class="card-text">This was a funny project that helped me to understand the basics of Event Handlers form JavaScript.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <a href="../views/bootstrapindex.html"><img class="card-img-top" width="100%" height="275" src="../Public/images/bootstrapProject.png" alt="simon says game"></a> <!--project picture-->
                      <div class="card-body">
                        <p class="card-text">This is a moving services landing-page project to understand basic components about Bootstrap.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group"> <!--Album ends-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
          <div class="container"> <!-- Footer start-->
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            </footer> <!-- Footer ends-->
        </div>
    </div>
