body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

.hero{
    display: flex;
    background-image: url(../assets/images/mountain-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    justify-content: center;    
    align-items:flex-start;
    gap: 2rem;
    color: aquamarine;
}
.intro-profile{
    margin: 0;
    padding: 0;
    margin-top: 25vh;
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: xx-large;
}

.profile{
    margin-top: 50px;
    display: block;
    gap: 2rem;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.profile-photo{
    grid-column-start: 2;
    border-radius: 50%;
    max-width: 300px;
    ;
}
h3{
    font-size: 2.5rem;
    color: #66bfbf;
}
h4{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-family: "Montserrat", sans-serif;
    color: #11999e
}
.intro{
    width: 30%;
    font-size: 1.5rem;
    margin: auto;
}
hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 10%;
    margin: 100px auto;
}
.skills{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(1,1fr);
    margin: auto;
    width: 50%;
    text-align: left;
}
.blackhole{
    height: 300px;
    border-radius: 50%;
}
.skills-p{
    font-size: 1.5rem;
    line-height: 2;
}
.skill-features{
    margin: auto;
    margin: 30px;
}
.getintouch{
    width: 40%;
    margin: auto;
}
.touch{
    width: 70%;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}
.contact-btn{
      background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 50px;
}
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .bottom-container{
    background-color: #66bfbf;;
    padding: 50px 0px 20px;
  }
  .copyright{
    color: #eaf6f6;
    font-size: 1rem;
    padding: 20px 0;
  }
  a{
    color: #11999e;
    margin: 10px 20px;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    color: #eaf6f6;
  }